<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coffeeclick">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CoffeeClick"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoffeeClick">

        <!-- Home screen after login -->
        <activity android:name=".HomeActivity" />

        <!-- Login screen -->
        <activity android:name=".LoginActivity" />

        <!-- Register screen -->
        <activity android:name=".RegisterActivity" />

        <!-- First screen (launcher) -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">   <!-- REQUIRED for Android 12+ -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
